<div class="container">

  <div class="">
    <h1>Cocktails list</h1>
  </div>

  <div class="cards">
    <% @cocktails.each do |cocktail| %>
      <div class="card-category">
        <%= link_to cocktail.name, cocktail_path(cocktail.id), class: "card-btn" %>
      </div>
    <% end %>
  </div>

  <div class="">
    <%= link_to "Add new cocktail", new_cocktail_path, class: "" %>
  </div>
</div>


